@model IEnumerable<DataLayer.News>

@{
    ViewBag.Title = "Index";
}

<h2>صفحه اصلی</h2>
<p>
    <a class="btn btn-success" href="/Admin/News/Create">خبر جدید</a>

</p>
<hr />
<table class="table table-bordered table-responsive" style="align-content:center;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CatTittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>تنظیمات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/NewsImages/@item.ImageName" class="img-thumbnail" style="max-width:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CatTittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShowInSlider)
            </td>
            <td>
                @item.UploadDate.ToShamsi()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                <a class="btn btn-warning" href="/Admin/News/Edit/@item.NewsID">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <br />
                <a class="btn btn-danger" href="/Admin/News/Delete/@item.NewsID">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
